{% extends 'base.html'%}

{% block content %}
<header class="list-header">
    <h2> {{gym_class.type}} - ID: {{gym_class.id}} </h2>
</header>
    <div class="show-container">
        <div class="show-info">
            <p>Date: {{gym_class.date}}</p>
            <p>Time: {{gym_class.time}}</p>
            <p>Capacity: {{gym_class.capacity}}</p>
            <p>Duration: {{gym_class.duration}} mins</p>
            <p>Members booked: 
            {% for member in members %}
                {{member.first_name}} {{member.last_name}}
            {% endfor %}
            {% if members == [] %}
            None
            {% endif %}
            </p>
        </div>
        <div class="show-buttons">
            <form action="/gym_classes/{{gym_class.id}}/edit">
                <button class="edit-button">
                    Edit Class
                </button>
            </form>
            <form action="/gym_classes/{{gym_class.id}}/delete" method="POST">
                <button class="delete-button">
                    Delete Class
                </button>
            </form>
        </div>
    </div>
{% endblock %}