{% extends 'base.html'%}

{% block content %}
<header class="list-header">
    <h2>Edit Member</h2>
</header>
    <div class="form-container">
        <form action="/members/{{member.id}}" method="POST" class="form">
            <div>
                <label for="first_name">
                    First Name:
                </label>
                <input type="text" id="first_name" name="first_name" value="{{member.first_name}}">
            </div>
            <div>
                <label for="last_name">
                    Last Name:
                </label>
                <input type="text" id="last_name" name="last_name" value="{{member.last_name}}">
            </div>
            <div>
                <label for="start_date">
                    Start Date:
                </label>
                <input type="date" id="start_date" name="start_date" value="{{member.start_date}}">
            </div>
            <div>
                <label for="membership_type">
                    Membership:
                </label>
                <select id="membership_type" name="membership_type">
                    {% for membership_type in membership_types %}
                    <option value= {{membership_type}} {% if member.type == membership_type %} selected="selected"{% endif %}>{{membership_type}}</option>
                    {% endfor %}
                </select>
            </div>
                <label for="active_status">
                    Active_Status:
                </label>
                <select id="active_status" name="active_status">
                    <option value= True {% if member.active_status == True %} selected="selected"{% endif %}>Active</option>
                    <option value= False {% if member.active_status == False %} selected="selected"{% endif %}>Inactive</option>
                </select>
            </div>
            <br>
            <button type="submit">Submit</button>

        </form>
    </div>
{% endblock %}